<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Storeteam_AdminTools::admintools" title="Admin Tools" sortOrder="100">
                        <resource id="Storeteam_AdminTools::index_management" title="Index Management" sortOrder="10"/>
                        <resource id="Storeteam_AdminTools::system_commands" title="System Commands" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
